@use "variaveis";

.actors {
  padding: 16px 0;

  .title--big {
    text-align: center;
  }

  &__content {
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 auto;

    border-radius: 20px;

    box-shadow: 16px 16px 26px #041b2c, -16px -16px 26px #0a3f68;

    @media (max-width: 800px) {
      display: flex;
      flex-direction: column-reverse;
      position: static;
    }

    &__tab {
      display: none;
      &--is-active {
        display: block;
      }
    }

    &__actor-card {
      min-width: 212px;
      width: 30%;
      height: 75%;
      position: absolute;
      top: 10%;
      left: 65%;
      border-radius: 25px;
      background: linear-gradient(145deg, #07304f, #062943);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(7, 45, 74, 1);
      -moz-box-shadow: 10px 10px 5px 0px rgba(7, 45, 74, 1);
      box-shadow: 8px 16px 8px 0px rgba(7, 45, 74, 1);

      @media (max-width: 800px) {
        margin: 0 auto;
        position: static;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        box-shadow: none;
      }

      img {
        min-height: 184px;
        height: 70%;
        width: 100%;
        object-fit: cover;
        object-position: top center;

        display: flex;
        border-radius: 20px 20px 0 0;
        border-bottom: 0;

        @media (max-width: 800px) {
          border-radius: 0;
        }
      }

      h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 72px;
        height: 30%;
        width: 100%;

        background-color: variaveis.$backgroundColor;
        border-radius: 0 0 20px 20px;

        @media (max-width: 800px) {
          margin: 0;
          border-radius: 0;
          border-right: 0;
          border-left: 0;
          border-bottom: 0;
        }
      }
    }

    &__info {
      min-width: 692px;
      min-height: 217px;
      width: 100%;
      height: 65%;
      background-color: variaveis.$backgroundColor;
      border-radius: 20px 20px 0 0;
      padding-left: 40px;
      padding-top: 40px;

      @media (max-width: 800px) {
        min-width: 0;
        width: 100%;
        margin: 0 auto;
        position: static;
        border-radius: 0px 0px 20px 20px;
        text-align: center;
        padding: 32px;
        display: flex;
        align-items: center;
      }

      &__text {
        width: 57%;

        @media (max-width: 800px) {
          width: 100%;
          text-align: center;
        }
      }
    }

    &__tabs {
      min-width: 692px;
      min-height: 115px;
      width: 100%;
      height: 35%;
      border-radius: 0 0 20px 20px;
      padding: 16px;

      display: flex;

      img {
        filter: invert(93%) sepia(8%) saturate(574%) hue-rotate(26deg)
          brightness(117%) contrast(98%);
      }

      @media (max-width: 800px) {
        min-width: 0;
        width: 100%;
        margin: 0 auto;
        position: static;
        border-radius: 20px 20px 0 0;
      }

      &--luffy {
        background-color: #bf0f0f;

        img {
          filter: invert(93%) sepia(8%) saturate(574%) hue-rotate(26deg)
            brightness(117%) contrast(98%);
        }
      }

      &--zoro {
        background-color: green;

        img {
          filter: invert(93%) sepia(8%) saturate(574%) hue-rotate(26deg)
            brightness(117%) contrast(98%);
        }
      }

      &--nami {
        background-color: #ff4a1c;

        img {
          filter: invert(93%) sepia(8%) saturate(574%) hue-rotate(26deg)
            brightness(117%) contrast(98%);
        }
      }

      &--usopp {
        background-color: #8c3211;

        img {
          filter: invert(93%) sepia(8%) saturate(574%) hue-rotate(26deg)
            brightness(117%) contrast(98%);
        }
      }

      &--sanji {
        background-color: #feff00;

        img {
          filter: invert(13%) sepia(44%) saturate(7386%) hue-rotate(194deg)
            brightness(93%) contrast(90%);
        }
      }

      &__buttons {
        width: 58%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;

        @media (max-width: 800px) {
          position: static;
          width: 100%;
        }

        img {
          max-height: 50px;
          width: auto;
          transition: opacity 0.3s ease, transform 0.3s ease;
          cursor: pointer;
          color: variaveis.$backgroundColor;

          @media (max-width: 800px) {
            max-height: 40px;
          }

          @media (max-width: 450px) {
            max-height: 30px;
          }

          &:hover {
            transform: scale(1.4);
            opacity: 100%;
            transition: opacity 0.3s ease, transform 0.3s ease;

            @media (max-width: 800px) {
              transform: scale(1.6);
            }

            @media (max-width: 450px) {
              transform: scale(1.8);
            }
          }
        }
      }

      &__button {
        opacity: 50%;
        &--is-active {
          transform: scale(1.4);
          opacity: 100%;

          @media (max-width: 800px) {
            transform: scale(1.6);
          }

          @media (max-width: 450px) {
            transform: scale(1.8);
          }
        }
      }
    }
  }
}
