@use "variaveis";

.actors {
  &__content {
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    border: 5px white solid;
    border-radius: 25px;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
      position: static;
    }

    &__tab {
      display: none;
      &--is-active {
        display: block;
      }
    }

    &__actor-card {
      min-width: 212px;
      width: 30%;
      height: 75%;
      position: absolute;
      top: 10%;
      left: 65%;

      @media (max-width: 767px) {
        margin: 0 auto;
        position: static;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
      }

      img {
        min-height: 184px;
        height: 70%;
        width: 100%;
        object-fit: cover;
        object-position: top center;
        border: 3px white solid;
        display: flex;
        border-radius: 20px 20px 0 0;
        border-bottom: 0;

        @media (max-width: 767px) {
          border-radius: 0;
          border-right: 0;
          border-left: 0;
          border-bottom: 3px white solid;
        }
      }

      h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 72px;
        height: 30%;
        width: 100%;
        border: 3px white solid;
        background-color: black;
        border-radius: 0 0 20px 20px;

        @media (max-width: 767px) {
          margin: 0;
          border-radius: 0;
          border-right: 0;
          border-left: 0;
          border-bottom: 0;
        }
      }
    }

    &__info {
      min-width: 692px;
      min-height: 217px;
      width: 100%;
      height: 65%;
      background-color: black;
      border-radius: 20px 20px 0 0;
      padding-left: 40px;
      padding-top: 40px;

      @media (max-width: 767px) {
        min-width: 0;
        width: 100%;
        margin: 0 auto;
        position: static;
        border-radius: 0px 0px 20px 20px;
        text-align: center;
        padding: 32px;
        display: flex;
        align-items: center;
      }

      &__text {
        width: 57%;

        @media (max-width: 767px) {
          width: 100%;
          text-align: center;
        }
      }
    }

    &__tabs {
      background-color: brown;
      min-width: 692px;
      min-height: 115px;
      width: 100%;
      height: 35%;
      border-radius: 0 0 20px 20px;
      padding: 16px;

      display: flex;

      img {
        filter: invert(93%) sepia(8%) saturate(574%) hue-rotate(26deg)
          brightness(117%) contrast(98%);
      }

      @media (max-width: 767px) {
        min-width: 0;
        width: 100%;
        margin: 0 auto;
        position: static;
        border-radius: 20px 20px 0 0;
      }

      &--luffy {
        img {
          filter: invert(93%) sepia(8%) saturate(574%) hue-rotate(26deg)
            brightness(117%) contrast(98%);
        }
      }

      &--zoro {
        background-color: green;

        img {
          filter: invert(93%) sepia(8%) saturate(574%) hue-rotate(26deg)
            brightness(117%) contrast(98%);
        }
      }

      &--nami {
        background-color: rgb(255, 68, 0);

        img {
          filter: invert(93%) sepia(8%) saturate(574%) hue-rotate(26deg)
            brightness(117%) contrast(98%);
        }
      }

      &--usopp {
        background-color: saddlebrown;

        img {
          filter: invert(93%) sepia(8%) saturate(574%) hue-rotate(26deg)
            brightness(117%) contrast(98%);
        }
      }

      &--sanji {
        background-color: yellow;

        img {
          filter: invert(13%) sepia(44%) saturate(7386%) hue-rotate(194deg)
            brightness(93%) contrast(90%);
        }
      }

      &__buttons {
        width: 58%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;

        @media (max-width: 767px) {
          position: static;
          width: 100%;
        }

        img {
          max-height: 50px;
          width: auto;
          transition: opacity 0.3s ease, transform 0.3s ease;
          cursor: pointer;
          color: black;

          @media (max-width: 767px) {
            max-height: 40px;
          }

          @media (max-width: 450px) {
            max-height: 30px;
          }

          &:hover {
            transform: scale(1.4);
            opacity: 100%;
            transition: opacity 0.3s ease, transform 0.3s ease;

            @media (max-width: 767px) {
              transform: scale(1.6);
            }

            @media (max-width: 450px) {
              transform: scale(1.8);
            }
          }
        }
      }

      &__button {
        opacity: 50%;
        &--is-active {
          transform: scale(1.4);
          opacity: 100%;

          @media (max-width: 767px) {
            transform: scale(1.6);
          }

          @media (max-width: 450px) {
            transform: scale(1.8);
          }
        }
      }
    }
  }
}
