@use "variaveis";

.episodes {
  .title--big {
    text-align: center;
  }

  &__list {
    &__item {
      width: 95%;

      @media (max-width: 800px) {
        width: 85%;
      }

      margin: 0 auto;
      margin-bottom: 24px;
      transition: all 1s ease;

      &__title {
        color: variaveis.$titleColor;
        font-size: 20px;
        padding: 24px;
        display: block;
        cursor: pointer;
        position: relative;
        background-color: #09395d;

        &::after {
          content: "+";
          position: absolute;
          top: 0;
          right: 24px;
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 40px;
          color: variaveis.$titleColor;

          @media (max-width: 404px) {
            font-size: 20px;
            right: 10px;
          }
        }

        @media (max-width: 404px) {
          font-size: 14px;
        }
      }

      &__info {
        display: flex;
        align-items: center;

        background-color: #041725;

        height: 0;
        overflow: hidden;
        padding: 0 16px;

        @media (max-width: 800px) {
          flex-direction: column;
        }

        img {
          width: 40%;
          object-fit: cover;

          margin-right: 16px;
          margin-top: 16px;
          filter: brightness(1.25);
          border-radius: 8px;

          @media (max-width: 800px) {
            width: 100%;
            margin: 0;
            margin-top: 16px;
            margin-bottom: 16px;
          }
        }

        p {
          width: calc(60% - 16px);
          margin: 0;

          @media (max-width: 800px) {
            width: 100%;
            text-align: center;
          }
        }
      }

      &--is-open {
        .episodes__list__item__title::after {
          content: "-";
        }

        .episodes__list__item__info {
          height: auto;

          padding-bottom: 16px;
        }
      }
    }
  }
}
