@use "variaveis";
@use "hero";
@use "about";
@use "actors";
@use "trailer";
@use "episodes";

@mixin text($fontSize: 16px, $marginBottom: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 4px;
  color: variaveis.$titleColor;
  margin-bottom: $marginBottom;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: variaveis.$backgroundColor;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 32px;

  background-image: linear-gradient();
}

.title {
  @include text(32px, 32px);
}

.title--small {
  @include text(24px);
}

.title--big {
  @include text(40px, 32px);

  &--blue {
    color: variaveis.$backgroundColor;
  }
}

.text {
  @include text();
}

.text--small {
  @include text(12px);
}

.text--big {
  @include text(20px);
}

.button {
  background-color: variaveis.$buttonColor;
  color: variaveis.$titleColor;
  padding: 16px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;

  &:hover {
    background-color: lighten(variaveis.$buttonColor, 3);
  }
}

.tab-button--is-active {
  transform: scale(1.3);
  transition: transform 0.2s ease;
}
