@use "variaveis";
@use "hero";
@use "about";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: variaveis.$backgroundColor;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.sectionTitle {
  color: variaveis.$titleColor;
  font-size: 32px;

  &--blue {
    color: variaveis.$backgroundColor;
  }
}

.sectionText {
  color: variaveis.$titleColor;
  font-size: 14px;

  &--blue {
    color: variaveis.$backgroundColor;
  }
}

.button {
  background-color: variaveis.$buttonColor;
  color: variaveis.$titleColor;
  padding: 16px;
  text-decoration: none;
  border-radius: 10px;

  &:hover {
    background-color: lighten(variaveis.$buttonColor, 3);
  }
}
